{{#section 'css'}}
<link rel="stylesheet" href="/css_customer/css_body/lesson/lesson.css">
{{/section}}

{{#section 'title'}}Details Lesson{{/section}}
{{#section 'javascript'}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lesson/details_lesson.js"></script>
{{/section}}


<div style="padding: 0;" class="container-fluid">
    <div style="margin: 10px 0;" class="row">
        <div style="padding:0;border-right: 1px solid #ccc;" class="col-9">
            <div class="video">
                <iframe
                    src="https://www.youtube.com/embed/{{lesson.lesson_video}}?autoplay=1&modestbranding=1&showinfo=0&rel=0&fs=0&disablekb=1&q=thh&ghf"
                    width="100%" height="650px" frameborder="0"></iframe>
            </div>
            <div class="toan_duoi">
                <h6 class="ten_baihoc">{{lesson.lesson_name}}</h6>
                <p class="thoi_gian">Cập nhật {{lesson.dateCreater}}</p>
            </div>
            <div style="margin-top:40px" class=" row">
                <div class="sticky_top"></div>
                <div style="background: #494949; padding:0" class="col-3">
                    <h6 class="dhcb">
                        Online
                        <i class="icon_dc fa-solid fa-earth-europe"></i>
                    </h6>
                    <div id="ds_ol">
                    </div>
                </div>
                <div style="position:relative;height: 90vh;background: #e4e4e4;" class="col-9">
                    <div id="tong_message" class="messages">

                    </div>
                    <form class="tong_gui">
                        <textarea placeholder="Aa" class="form-control" id="txt_tn" rows="1"></textarea>
                        <button onclick="gui_tn('{{lesson._id}}','{{course_id}}')" id="btn_gui" type="button"
                            class="btn btn-primary">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
        <div style="padding:0;background: #f9f9f9;" class="col-3">
            <h6 class="sticky_top txt_toanbh">Nội Dung Khóa Học</h6>
            {{#each all_lesson}}
            <div class="toan_bai">
                <div style="padding:10px" class="{{#if (acti ../lesson._id this._id) }}acti{{/if}}">
                    <a style="color: #161616;" href="/student/{{../course_id}}/lerninglesson/{{this._id}}">
                        <span>Bài {{this.lesson_STT}}.{{this.lesson_name}}</span>
                    </a>
                </div>
                <div class="list_bt">
                    {{#each this.lesson_exercises}}
                    <a class="bt-item" style="color: #434343;"
                        href="/student/exercise/{{../../course_id}}/{{../this._id}}/{{this._id}}">
                        <i style="margin-right: 3px;" class="fa-solid fa-rectangle-list"></i>
                        <span>bài {{#sum @index 1}}{{/sum}}</span>
                    </a>
                    {{/each}}
                </div>
            </div>

            {{/each}}
        </div>
    </div>

</div>