<div style="height: 84px; background-color: #8a8a8a;display:flex;justify-content:space-between;"
    class="container-fluid sticky-top">
    <a style="align-self: center;" class="navbar-brand" href="/">
        <img src="/images/logo/logo.svg" alt="Logo">
    </a>
    <div class="row">
        <div class="col-lg-12">
            <div class="nav-inner">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ms-auto">
                            {{#if kt}}
                            <li class="nav-item">
                                <a class="{{{_sections.home_active}}}" href="/home">Home</a>
                            </li>
                            {{!-- nếu là học sinh --}}
                            {{#if (check_quyen quyen 2)}}
                            <li class="nav-item">
                                <a class="{{{_sections.mycourse_active}}}" href="/student/mycourse">My Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{{_sections.feedback_active}}}" href="/feedback">Feed Back</a>
                            </li>
                            {{!-- nếu là giáo viên --}}
                            {{else if (check_quyen quyen 1)}}
                            <li class="nav-item">
                                <a class="{{{_sections.myclass_active}}}" href="/teacher/myclass">My Class</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{{_sections.feedback_active}}}" href="/feedback">Feed Back</a>
                            </li>
                            {{!-- nếu là admin --}}
                            {{else if (check_quyen quyen 0)}}
                            <li class="nav-item">
                                <a class="{{{_sections.courses_active}}}" href="/admin/allcourse">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{{_sections.users_active}}}" href="/admin/alluser">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{{_sections.feedback_active}}}" href="/admin/allfeedback">Feedback</a>
                            </li>
                            {{/if}}
                            <div class="btn-group">
                                <div type="button" class="ht_user dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <ul style="padding: 14px;" class="at_list dropdown-menu">
                                    <li style="display: flex;justify-content:center;margin:4px 0    ">
                                        <span>Xin Chào, {{fullname}}</span>
                                    </li>

                                    <li style="display: flex;">
                                        <i class="icon-ltk fa-solid fa-key"></i>
                                        <a class="link-l dropdown-item" href="/authentication/changepassword">Thay Đỗi Mật Khẩu</a>
                                    </li>
                                    <li style="display: flex;">
                                        <i class="icon-ltk fa-solid fa-wrench"></i>
                                        <a class="link-l dropdown-item" href="/authentication/updateinformation">Cập Nhật Thông Tin</a>
                                    </li>
                                    <li style="display: flex;">
                                        <button class="link-l dropdown-item" href="#"></button>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li style=" display: flex; ">
                                        <i class="icon-ltk fa-solid fa-right-from-bracket"></i>
                                        <a href="/authentication/logout" id="btn_logout"
                                            class="link-l dropdown-item">Đăng Xuất</a>
                                    </li>
                                </ul>
                            </div>
                            {{!-- nếu chưa đăng nhập --}}
                            {{else}}
                            <li class="nav-item">
                                <a href="/authentication/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/authentication/register">Register</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div> <!-- navbar collapse -->
                    <!-- login -->

                </nav> <!-- navbar -->

            </div>
        </div>

    </div> <!-- row -->
</div>